* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

body {
    /* min-width: 620px;*/
}

/*承载层*/
.wrapper {
    width: 100%;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

/*清除浮动*/
.clearfix {
    clear: both;
}

/*顶部*/
.top {
    width: 100%;
    height: 53px;
    line-height: 53px;
    box-sizing: border-box;
    background-color: #ff5927;
}

.menu {
    margin-left: 32px;
    margin-top: 15px;
}

.top input {
    float: right;
    margin-right: 40px;
    width: 175px;
    height: 35px;
    border-radius: 5px;
    margin-top: 7px;
    position: relative;
}

.top:after {
    content: "";
    width: 20px;
    height: 20px;
    background: url("images/search.png") no-repeat;
    position: absolute;
    z-index: 6;
    right: 55px;
    top: 16px;
}

/*banner部分*/
.banner {
    height: 120px;
    box-sizing: border-box;
    background: #c6e77c;
    text-align: center;
    padding: 4px;
}

/*main 中间部分*/
.main {
    box-sizing: border-box;
    padding: 0 8px;
}

.main ul {
    list-style: none;
    margin-top: 30px;
}

.main ul li {
    display: inline-block;
    width: 25%;
    text-align: center;
    margin-left: -4px;
}

.main ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    color: #656565;
}

.main ul li a p {
    margin-top: 12px;
}

.main ul li div {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: grey;

}

.main ul li:nth-child(1) div {
    background: #6dc143;
}

.main ul li:nth-child(2) div {
    background: #ff7b00;
}

.main ul li:nth-child(3) div {
    background: #ffa100;
}

.main ul li:nth-child(4) div {
    background: #7395ff;
}

.main ul li:nth-child(5) div {
    background: #ff555b;
}

.main ul li:nth-child(6) div {
    background: #4390c0;
}

.main ul li:nth-child(7) div {
    background: #31b991
}

.main ul li:nth-child(8) div {
    background: #bbc1cd;
}

.main ul li:nth-child(8) {
    margin-top: 20px;
}

/*底部区域*/
.bottom {
    padding-top: 28px;
    padding-bottom: 20px;
}

.bottom1 {
    height: 31px;
    background: url("images/main9.png") repeat-x;
}

.bottom2 {
    display: flex;
    margin-top: 18px;
    width: 84%;
    margin-left: 8%;
}

.bottom2 div {
    width: 30%;
    flex: 1;
    text-align: center;
    border: 1px solid grey;
}

.bottom2 div a {
    font-size: 20px;
    color: #009933;
    text-decoration: none;
}

.p2 {
    font-size: 16px;
    color: #65ccb9;
    width: 80%;
    text-align: left;
    margin: 16px auto 36px;
}

.bot2-2 p a {
    color: #6599CB;
}

.bot2-2 p:nth-child(2) {
    color: #999999;
}

.bot2-3 p a {
    color: #FF6565;
}

.bot2-3 p:nth-child(2) {
    color: #CB9965;
}

.bottom2 img {
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .bottom2 img {
        width: 100%;
    }
}

.bottom2 div:nth-child(1) {
    border-right: none;
}

.bottom2 div:nth-child(2) {
    border-right: none;
}
